[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/beyondelastic/blowfish.git
[submodule "public"]
	path = public
	url = https://github.com/beyondelastic/beyondelastic.github.io
